/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: 'Nunito';
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html{
    height: 100%;
    width: 100%; 
}
body {
	line-height: 1;
    height: 100%;
    font: 'Nunito';
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    min-height: 100%;
    position: relative;
    width: 100%; 
}
ol, ul, a {
	list-style: none;
    text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h3{
    font: 'Nunito';
    font-size: 32px;
    font-weight: 700;
    line-height: 43.65px;
    color: #000000;
    align-items: center;
    text-align: center; 
}

h4{
    font: 'Nunito';
    font-size: 18px;
    font-weight: 500;
    line-height: 24.55px; 
    color: #034370;
    align-items: center;
    text-align: center; 
}

h5{
    font: 'Nunito';
    font-size: 22px;
    font-weight: 400;
    line-height: 20px; 
    color: #034370;
    align-items: center;
    text-align: center; 
}

h6{
    font: 'Nunito';
    font-size: 22px;
    font-weight: 700;
    line-height: 22px; 
    color: #011c49;
    align-items: center;
    text-align: center; 
}

p{
    font: 'Nunito';
    font-size: 20px;
    font-weight: 400;
    line-height: 22px; 
    color: #034370;
    align-items: center;
    text-align: center; 
}

.footer{
    background-color: #FFFFFF;
    position: absolutefixed;
    height: 50px;
    margin-top: -50px;
    bottom:5;
    left: 99.5;
    right: 1539.5;
    display: flex;          /* Use flexbox to lay out the footer items */
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    text-align: center;      /* Center text elements */
    flex-direction: row;  /* Stack children vertically */
    gap: 20px;               /* Optional: adds space between the children */
    padding: 100px;           /* Optional: adds padding inside the footer */
    font-family: 'Nunito';
    flex-shrink: 0;
    width: 100%;
    border-top: 1px solid #8FC1D4;
    border-bottom: 1px solid #8FC1D4;
    border-left: 1px solid #8FC1D4;
    border-right: 1px solid #8FC1D4;
  }

.nav-link{
    font: 'Nunito';
    font-size: 20px;
    font-weight: 600;
    line-height: 27.28px;
    color: #061A48;
    align-items: center;
  }

  .second-seg{
    background-color: #FFFFFF;
    color: #000000;
    width: 100%;             /* Make each links div take the full width */
    display: flex;           /* Use flexbox to lay out the content inside */
    flex-direction: column;  /* Stack content vertically */
    justify-content: center; /* Center content horizontally */
    align-items: center;     /* Align items in the center vertically */
    font-family: 'Nunito';
}

#imgContainer {
    height: 100%;
    text-align: center;
    /* Center text elements */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    gap: 10px 20px;
    width: 100%;
}

.socialz, .icons-right {
    display: flex;           /* Use flexbox to lay out the content inside */
    flex-direction: row;  /* Stack content vertically */
    justify-content: center; /* Center content horizontally */
    align-items: center;     /* Align items in the center vertically */
    font-family: 'Nunito';
    padding-right: 3em;
    padding-left: 15%;
  }

  .links-left {
    width: 100%;             /* Make each links div take the full width */
    display: flex;           /* Use flexbox to lay out the content inside */
    flex-direction: column;  /* Stack content vertically */
    justify-content: center; /* Center content horizontally */
    align-items: left;     /* Align items in the center vertically */
    font-family: 'Nunito';
    bottom: 0;
    left: 0;
  }

  .links-center {
    width: 100%;             /* Make each links div take the full width */
    display: flex;           /* Use flexbox to lay out the content inside */
    flex-direction: column;  /* Stack content vertically */
    justify-content: center; /* Center content horizontally */
    align-items: center;     /* Align items in the center vertically */
    font-family: 'Nunito';
  }

  .links-right {
    width: 100%;             /* Make each links div take the full width */
    display: flex;           /* Use flexbox to lay out the content inside */
    flex-direction: column;  /* Stack content vertically */
    justify-content: center; /* Center content horizontally */
    align-items: center;     /* Align items in the center vertically */
    font-family: 'Nunito';
    margin-right: 1 em;
  }

  .btn{
    background-color: #034370;
    color: #FFFFFF;
    display: inline flow-root list-item;
}