/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: 'Nunito';
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html{
    height: 100%;
}
body {
	line-height: 1;
    height: 100%;
    font: 'Nunito';
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    min-height: 100%;
    position: relative;
}
ol, ul, a {
	list-style: none;
    text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.push{
    margin-left: auto;
}

.btn-space {
    margin-right: 10px;
}

h1{
    font: 'Nunito';
    font-size: 300px;
    font-weight: 800;
    /* line-height: 409.2px; */
    color: #FFFFFF;
    align-items: center;
}

h2{
    font: 'Nunito';
    font-size: 60px;
    font-weight: 700;
    line-height: 81.84px;
    color: #000000;
    align-items: center;
}

h3{
    font: 'Nunito';
    font-size: 28px;
    font-weight: 400;
    line-height: 37px;
    color: #6E6464;
    align-items: center;
}

h4{
    font: 'Nunito';
    font-size: 22px;
    font-weight: 700;
    line-height: 22px; 
    color: #011C49;
    align-items: center;
}

h5{
    font: 'Nunito';
    font-size: 22px;
    font-weight: 400;
    line-height: 20px; 
    color: #034370;
    align-items: center;
}

h6{
    font: 'Nunito';
    font-size: 22px;
    font-weight: 400;
    line-height: 20px; 
    color: #034370;
    align-items: center;
}
p{
    font: 'Nunito';
    font-size: 45px;
    font-weight: 700;
    line-height: 61.38px;
    color: #FFFFFF;
    align-items: center;
    opacity: 43%;
    text-indent: 1000px;
}

.btn{
    background-color: #034370;
    color: #FFFFFF;
}

.card-img-top-alt {
    width: 100%;
    height: 46vw;
    object-fit: cover;
}

.second-seg{
    background-color: #FFFFFF;
    color: #000000;
    width: 100%;             /* Make each links div take the full width */
    display: flex;           /* Use flexbox to lay out the content inside */
    flex-direction: column;  /* Stack content vertically */
    justify-content: center; /* Center content horizontally */
    align-items: center;     /* Align items in the center vertically */
    font-family: Nunito;
}

.links-left {
    width: 100%;             /* Make each links div take the full width */
    display: flex;           /* Use flexbox to lay out the content inside */
    flex-direction: column;  /* Stack content vertically */
    justify-content: center; /* Center content horizontally */
    align-items: left;     /* Align items in the center vertically */
    font-family: Nunito;
    bottom: 0;
    left: 0;
  }

  .links-center {
    width: 100%;             /* Make each links div take the full width */
    display: flex;           /* Use flexbox to lay out the content inside */
    flex-direction: column;  /* Stack content vertically */
    justify-content: center; /* Center content horizontally */
    align-items: center;     /* Align items in the center vertically */
    font-family: Nunito;
  }

  .links-right {
    width: 100%;             /* Make each links div take the full width */
    display: flex;           /* Use flexbox to lay out the content inside */
    flex-direction: column;  /* Stack content vertically */
    justify-content: center; /* Center content horizontally */
    align-items: center;     /* Align items in the center vertically */
    font-family: Nunito;
    margin-right: 1 em;
  }

  .socialz, .icons-right {
    display: flex;           /* Use flexbox to lay out the content inside */
    flex-direction: row;  /* Stack content vertically */
    justify-content: center; /* Center content horizontally */
    align-items: center;     /* Align items in the center vertically */
    font-family: Nunito;
    padding-right: 3em;
    padding-left: 15%;
  }

  .footer{
    background-color: #FFFFFF;
    position: absolute;
    height: 50px;
    margin-top: -50px;
    bottom:0;
    left:0;
    right: 0;
    display: flex;          /* Use flexbox to lay out the footer items */
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    text-align: center;      /* Center text elements */
    flex-direction: row;  /* Stack children vertically */
    gap: 20px;               /* Optional: adds space between the children */
    padding: 100px;           /* Optional: adds padding inside the footer */
    font-family: Nunito;
    flex-shrink: 0;
  }

  .container1 {
    background-color: #FFFFFF;
    display: flex;  
    align-items: center; 
    flex-direction: row;
    width: 100%;
    height: auto;
  }

  .popup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.hidden {
    display: none;
}

.padding{
    padding-left: 77px;
}
